Flask_Cors
Flask
Werkzeug
requests
numpy
itsdangerous
holidays
gunicorn
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\.ipynb_checkpoints\installFunctions-checkpoint.py: 3
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\Functions.py: 3
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\installFunctions.py: 3,7
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\install_csv\updateCSV.py: 1
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\install_csv\updateCSVDaemon.py: 1
pandas
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\.ipynb_checkpoints\app-checkpoint.py: 8
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\Functions.py: 5
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\app.py: 8
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\install_csv\updateCSV.py: 4
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\install_csv\updateCSVDaemon.py: 4
dnspython
pymongo
# D:\MODELOS - MONGODB\INSTALL_APP\DOCKER\app\installFunctions.py: 8
scipy